body {
background-color: Azure;
}

h1{
  text-align: center;
}

canvas{
display: block;
  margin-left: auto;
  margin-right: auto;
  
  }

.myPlot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

